.introduction-name {
    padding-top: 4%;
    color: #FBFBFB;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.introduction-degree {
    color: #FBFBFB;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif
}